body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    }
    #topbar{
    width: 1000px;
    margin: 0 auto;
    /* background-color:wheat; */
    height: 40px;
    }
    #logo{
    margin-top:8px;
    width: 100px;
    float:left;
    margin-right: 8px
    }
    .topbar-section{
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
    }
    #login-image{
    width: 40px;
    height: auto;
    /* margin: 2px; */
    float:left;
    margin-bottom: 2px;
    }
    #signin{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    /* top: 11px */
    }
    #signintext{
    position: relative;
    top: 13px;
    padding-right: 50px
    }
    #breaker{
    float: left;
    height: 40px;
    }
    #bell-src{
    width: 34px;
    height: 30px;
    margin: 9px 12px 12px
    }
    #bell-div{
    float: left;
    height: 8px;
    }
    .topbar-menu{
    font-weight: bold;
    font-size: 85%;
    /* top:13px; */
    position: relative;
    padding: 14px 15px 0 15px;
    height: 26px;
    }
    #more{
    width: 18px;
    margin-left: 20px;
    }
    #search{
    background-color: #e4e4e4;
    border: none;
    font-weight: bold;
    font-size: 13px;
    margin: 0px -20px 5px 5px;
    padding: 5px
    }
    #glass{
    top:7px;
    position: relative;
    height: 24px;
    }
    a{
    text-decoration: none;
    }
    a:visited{
    color: black;
    }
    a::before{
    color: black
    }
    a:link{
    color: black
    }
    .clear{
    clear:both
    }
    #menu{
    background-color:#bb1919;
    width: 100%;
    height: 70px;
    }
    #menubar{
    width: 1000px;
    margin: 0 auto;
    }
    h1{
    padding: 0;
    margin: 0;
    color:white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    float: left;}
    #local-news{
    float:right;
    border: 1px solid #BB4545;
    width: 200px;
    position: relative;
    top: 14px;
    }
    #localiton{
    height: 30px;
    background-color: #bb1919; 
    }
    #local-news a{
    color: white;
    position: relative;
    top: -10px;
    padding:5px 10px 0 0;
    margin: 10px 10px 0 0;
    font-size:20px
    }
    #local-news a:hover{
    text-decoration: underline
    }
    #lowmenu-container{
    background-color: #a91717; 
    width: 100%;
    }
    #menubar2{
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    }
    #menubar2 a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid#a91717;
    font-size: 15px;
    position: relative;
    top: 1px;
    }
    #menubar2 a:hover{
    text-decoration: underline
    }
    .noborder{
    border: none !important
    }
    #downarrow{
    height: 25px;
    position: relative;
    top: 4px;
    }
    #page-container{
    width: 1000px;
    margin: 0 auto
    }
    h2{
    font-weight: normal;
    border-bottom: 2px solid #a91717;
    width: 120px;
    position: relative;
    top: 8px;
    }
    h3{
    font-size: 27px
    }
    h3 a:hover{
    color: #1167a8
    }
    p{
    width: 260px;
    color: #5a5a5a;
    margin-left: -10px;
    }
    #main img{
    position: relative;
    top: 12px;
    }
    #tech {
    color: #a91717;
    font-weight: bold;}
    #main{
    float: left;
    }
    #articlesummary {
    float: left;
    }
    #articlesummary a:hover{
    color:#1167a8;
    font-weight: bold;
    }
    #article-contianer{
    float: left;
    width: 700px;
    border-right: 1px solid #cccccc
    }
    #main-image {
    width: 400px;
    float: left;
    margin-left: 20px
    }
    #articlesummary img{
    font-size: 13px;
    margin-left: -10px;
    }
    #articlehr{
    border-top: 1px solid #a91717;
    width:60px;
    margin-top: 1px; 
    }
    .article-link{
    color: black;
    text-decoration: none
    }
    #watch{
    margin-left: 20px;
    width:275px;
    float: right;
    position: relative;
    top: 65px;
    }
    h4{
    color: black;
    font-weight: normal;
    font-size: 20px;
    width: 70px
    }
    .sidevideo{
    float: left;
    margin-right: 10px;
    width: 100px
    }
    .watch-link {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 18px
    }
    .watch-link:hover{
    color: #1167a8
    }
    .clock{
    margin-top: -20px;
    position: relative;
    top: 10px;
    }
    .side-article{
    float:right;
    width:160px;
    position: relative;
    top:-15px
    }
    #techno{
    color: #a91717;
    margin: 10px;
    float: left;
    }
    #articlehrr{
    border-top: 1px solid #a91717;
    width:60px;
    margin-top: 10px; 
    }
    .below{
    width: 100%;
    float: left;
    }
    #articlehrr{
    border-top: 1px solid #cccccc;
    width:700px;
    margin-top: 10px; 
    }